/* === EXTERNAL CSS === */
/* font */
@font-face {
    font-family: nimbus-sans;
    src: url(https://use.typekit.net/af/da0c19/00000000000000000001518d/27/l?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"),url(https://use.typekit.net/af/da0c19/00000000000000000001518d/27/d?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"),url(https://use.typekit.net/af/da0c19/00000000000000000001518d/27/a?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: nimbus-sans;
    src: url(https://use.typekit.net/af/360cf4/000000000000000000012544/27/l?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"),url(https://use.typekit.net/af/360cf4/000000000000000000012544/27/d?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"),url(https://use.typekit.net/af/360cf4/000000000000000000012544/27/a?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: nimbus-sans;
    src: url(https://use.typekit.net/af/50ea52/00000000000000000001011c/27/l?fvd=n3&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"),url(https://use.typekit.net/af/50ea52/00000000000000000001011c/27/d?fvd=n3&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"),url(https://use.typekit.net/af/50ea52/00000000000000000001011c/27/a?fvd=n3&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: nimbus-sans;
    src: url(https://use.typekit.net/af/bfd933/000000000000000000010122/27/l?fvd=n9&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"),url(https://use.typekit.net/af/bfd933/000000000000000000010122/27/d?fvd=n9&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"),url(https://use.typekit.net/af/bfd933/000000000000000000010122/27/a?fvd=n9&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: nimbus-sans-condensed;
    src: url(https://use.typekit.net/af/6125b7/00000000000000003b9b29b2/27/l?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"),url(https://use.typekit.net/af/6125b7/00000000000000003b9b29b2/27/d?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"),url(https://use.typekit.net/af/6125b7/00000000000000003b9b29b2/27/a?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: nimbus-sans-condensed;
    src: url(https://use.typekit.net/af/f6c05e/00000000000000003b9b29b5/27/l?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"),url(https://use.typekit.net/af/f6c05e/00000000000000003b9b29b5/27/d?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"),url(https://use.typekit.net/af/f6c05e/00000000000000003b9b29b5/27/a?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: nimbus-sans-extended;
    src: url(https://use.typekit.net/af/8d484d/00000000000000003b9af903/27/l?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"),url(https://use.typekit.net/af/8d484d/00000000000000003b9af903/27/d?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"),url(https://use.typekit.net/af/8d484d/00000000000000003b9af903/27/a?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: nimbus-sans-extended;
    src: url(https://use.typekit.net/af/b13282/00000000000000003b9af904/27/l?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"),url(https://use.typekit.net/af/b13282/00000000000000003b9af904/27/d?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"),url(https://use.typekit.net/af/b13282/00000000000000003b9af904/27/a?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
    font-weight: 700;
    font-style: normal
}

/* End of font */
*,:after,:before {
    box-sizing: border-box
}

body {
    background: #fff
}

body,h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0
}

@media screen and (min-width: 576px) {
    nav.navbar {
        padding-right:35px;
        padding-left: 35px
    }
}

.play-btn .btn-circle {
    z-index: 1;
    stroke: #ff5100;
    stroke-width: 5px;
    stroke-dashoffset: 350;
    stroke-dasharray: 350
}

.play-btn .btn-circle,.play-btn .btn-circle--gray {
    fill: transparent;
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg)
}

.play-btn .btn-circle--gray {
    z-index: 0;
    stroke: #cbcbcb;
    stroke-width: 5px
}

.play-btn .btn-circle.animate {
    -webkit-animation: circle-draw 10s linear forwards;
    animation: circle-draw 10s linear forwards
}

@-webkit-keyframes circle-draw {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes circle-draw {
    to {
        stroke-dashoffset: 0
    }
}

.pages-home {
    overflow: hidden
}

.pages-home .play-btn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 65px;
    width: 65px;
    z-index: 998
}

.pages-members-wrapper {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.pages-members__groups {
    margin: 0 10vw;
    padding-top: 229px;
    display: flex;
    flex-wrap: wrap
}

@media screen and (max-width: 414px) {
    .pages-members__groups {
        margin:0 40px 0 0;
        padding-top: 117px
    }
}

.pages-members__group {
    flex: 0 0 33.33%;
    margin-bottom: 40px;
    padding: 0 15px
}

@media screen and (max-width: 768px) {
    .pages-members__group {
        flex:0 0 50%;
        padding: 0 35px
    }
}

@media screen and (max-width: 414px) {
    .pages-members__group {
        flex:0 0 100%;
        padding: 0 20px
    }
}

.pages-members__group h3 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-family: nimbus-sans,sans-serif;
    font-weight: 300;
    margin-bottom: 30px
}

@media screen and (max-width: 768px) {
    .pages-members__group h3 {
        margin-bottom:22px
    }
}

.pages-members__member {
    font-size: 30px;
    opacity: 1;
    display: flex;
    align-items: baseline
}

@media screen and (max-width: 768px) {
    .pages-members__member {
        opacity:1
    }
}

.pages-members__member:hover {
    opacity: .4
}

.pages-members__member a {
    color: #fff;
    text-decoration: none;
    letter-spacing: -1.5px;
    font-family: nimbus-sans,sans-serif;
    font-weight: 900;
    text-transform: uppercase
}

.pages-members__member__count {
    margin-left: auto;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    opacity: .7
}

@media screen and (max-width: 768px) {
    .pages-members__member__count {
        opacity:1
    }
}

.pages-contact {
    background-color: #fd6000;
    height: 100vh!important;
    overflow: hidden;
    display: flex;
    flex-direction: column
}

.pages-contact-wrapper {
    padding: 150px 35px 0
}

@media screen and (max-width: 414px) {
    .pages-contact-wrapper {
        padding:125px 20px 0
    }
}

.pages-contact__person h2 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -1.5px;
    margin-top: 9px
}

.pages-contact__person h3 {
    font-size: 15px;
    font-weight: 300
}

.pages-contact__person h2,.pages-contact__person h3 {
    color: #fff;
    font-family: nimbus-sans,sans-serif
}

.pages-contact__map {
    background-color: #212121;
    height: 100%
}

.pages-contact .info {
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: flex-end;
    margin-top: 18px
}

@media screen and (max-width: 414px) {
    .pages-contact .info {
        margin-top:10px
    }
}

.pages-contact .info h2,.pages-contact .info h3 {
    color: #fff;
    display: inline-block;
    font-family: nimbus-sans,sans-serif
}

.pages-contact .info__title {
    font-size: 15px;
    font-weight: 400;
    margin-right: auto;
    margin-bottom: -3px
}

.pages-contact .info__content {
    font-size: 69.51px;
    font-weight: 900;
    margin-bottom: -18px;
    letter-spacing: -5px
}

@media screen and (max-width: 414px) {
    .pages-contact .info__content {
        font-size:30px;
        margin-bottom: -8px;
        letter-spacing: -1px
    }
}

.pages-contact .info__content__svg {
    width: 24px;
    margin-left: 12px
}

.pages-contact .info__content__svg:last-child {
    margin-right: 6px
}

@media screen and (max-width: 414px) {
    .pages-contact .info__content__svg {
        width:12px;
        margin-left: 5px
    }
}

.pages-contact .info__domain--small {
    color: #fff;
    font-size: 69.51px;
    font-weight: 900;
    letter-spacing: -5px;
    display: none;
    text-align: right;
    font-family: nimbus-sans,sans-serif;
    margin-top: -10px
}

@media screen and (max-width: 768px) {
    .pages-contact .info__domain--small {
        display:block
    }
}

@media screen and (max-width: 414px) {
    .pages-contact .info__domain--small {
        margin-top:0;
        font-size: 30px;
        letter-spacing: -1px
    }
}

@media screen and (max-width: 768px) {
    .pages-contact .info__domain--large {
        display:none!important
    }
}

.works-index {
    background-color: #000
}

.works-index .person {
    height: 90vh;
    position: relative
}

.works-index .person__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1
}

.works-index .person__profile {
    position: absolute;
    bottom: 38px;
    margin-left: 40px;
    color: #fff;
    font-family: nimbus-sans,sans-serif
}

@media screen and (max-width: 414px) {
    .works-index .person__profile {
        margin-left:19px
    }
}

.works-index .person__logo {
    max-width: 120px;
    margin-left: 2px;
    opacity: .5
}

.works-index .person__title {
    margin-top: 20px;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 6px
}

.works-index .person__name {
    font-weight: 900;
    letter-spacing: -6px;
    font-size: 90px;
    text-transform: uppercase
}

@media screen and (max-width: 768px) {
    .works-index .person__name {
        font-size:45px
    }
}

@media screen and (max-width: 414px) {
    .works-index .person__name {
        font-size:30px;
        letter-spacing: 0;
        margin-left: 5px
    }
}

.works-index .works {
    display: flex;
    flex-wrap: wrap
}

.works-index .works .work {
    flex: 0 0 33.33%;
    padding-bottom: 20.83333%;
    height: 0;
    position: relative;
    padding-left: 36.76px;
    text-decoration: none
}

@media screen and (max-width: 414px) {
    .works-index .works .work {
        padding-left:19px
    }
}

.works-index .works .work__video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover
}

.works-index .works .work__video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
}

.works-index .works .work:hover .work__hover-bg,.works-index .works .work:hover .work__video-bg {
    opacity: 0
}

@media only screen and (max-width: 768px) {
    .works-index .works .work {
        flex:0 0 50%;
        padding-bottom: 28.125%
    }
}

@media only screen and (max-width: 414px) {
    .works-index .works .work {
        flex:0 0 100%;
        padding-bottom: 56.25%
    }
}

.works-index .works .work__hover-bg {
    transition: opacity .5s;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .85;
    background-color: #000
}

.works-index .works .work__client {
    opacity: .5;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    position: relative;
    margin-top: 20px
}

.works-index .works .work__client-name {
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    letter-spacing: -1px;
    font-weight: 900;
    position: relative
}

.works-index .works .work__title {
    position: absolute;
    right: 15px;
    bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900
}

.works-show {
    background-color: #000
}

.work-item {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 170px
}

@media screen and (max-width: 414px) {
    .work-item {
        margin-top:120px;
        margin-bottom: 120px
    }
}

.work-item .work__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -1.5px;
    color: #fff;
    margin-bottom: 0
}

@media screen and (max-width: 414px) {
    .work-item .work__title {
        font-size:20px
    }
}

.work-item .work__client {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    opacity: .5;
    margin-bottom: 15px
}

.work-item #js-plyr-player {
    width: 57.3vw;
    height: 32.23125vw;
    margin: auto
}

.work-item #js-plyr-player.fullscreen-mode {
    width: 100%!important;
    height: 100%
}

.work-item #js-plyr-player.fullscreen-mode .plyr__video-embed__container {
    max-width: 100%!important
}

@media screen and (max-width: 768px) {
    .work-item #js-plyr-player {
        width:87vw;
        height: 48.9375vw
    }
}

@media screen and (max-width: 414px) {
    .work-item #js-plyr-player {
        width:90vw;
        height: 50.625vw
    }
}

.more-works {
    text-align: center;
    position: relative;
    padding-bottom: 38px
}

.more-works__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 15px;
    letter-spacing: -1.2px
}

.more-works__items {
    display: flex;
    overflow-y: hidden;
    transform: translateZ(0);
    transition: transform .5s;
    height: 14.0625vw
}

@media screen and (max-width: 768px) {
    .more-works__items {
        height:24.45652vw
    }
}

@media screen and (max-width: 414px) {
    .more-works__items {
        height:28.125vw
    }
}

.more-works__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    opacity: .4;
    transition: opacity .5s;
    cursor: pointer
}

.more-works__item.glide__slide--active,.more-works__item:hover {
    opacity: 1
}

.more-works .glide__arrow img {
    width: 60px
}

@media screen and (max-width: 414px) {
    .more-works .glide__arrow img {
        width:40px
    }
}

.more-works--no-glide .more-works__items {
    justify-content: center
}

.more-works--no-glide .more-works__item {
    height: 0;
    padding-bottom: 14.0625%;
    flex: 0 0 25%
}

@media screen and (max-width: 768px) {
    .more-works--no-glide .more-works__item {
        flex:0 0 33.333%;
        padding-bottom: 18.75%
    }
}

@media screen and (max-width: 576px) {
    .more-works--no-glide .more-works__item {
        flex:0 0 50%;
        padding-bottom: 28.125%
    }
}

.glide {
    position: relative;
    width: 100%;
    box-sizing: border-box
}

.glide * {
    box-sizing: inherit
}

.glide__slides,.glide__track {
    overflow: hidden
}

.glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform
}

.glide__slide,.glide__slides--dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent
}

.glide__slide a {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.glide__arrows,.glide__bullets {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.glide--rtl {
    direction: rtl
}

.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    padding: 9px 12px;
    background-color: transparent;
    border: 2px solid hsla(0,0%,100%,.5);
    border-radius: 4px;
    box-shadow: 0 .25em .5em 0 rgba(0,0,0,.1);
    text-shadow: 0 .25em .5em rgba(0,0,0,.1);
    opacity: 1;
    cursor: pointer;
    transition: opacity .15s ease,border .3s ease-in-out;
    transform: translateY(-50%);
    line-height: 1
}

.glide__arrow:focus {
    outline: none
}

.glide__arrow:hover {
    border-color: #fff
}

.glide__arrow--left {
    left: 2em
}

.glide__arrow--right {
    right: 2em
}

.glide__arrow--disabled {
    opacity: .33
}

.glide__bullets {
    position: absolute;
    z-index: 2;
    bottom: 2em;
    left: 50%;
    display: inline-flex;
    list-style: none;
    transform: translateX(-50%)
}

.glide__bullet {
    background-color: hsla(0,0%,100%,.5);
    width: 9px;
    height: 9px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all .3s ease-in-out;
    cursor: pointer;
    line-height: 0;
    box-shadow: 0 .25em .5em 0 rgba(0,0,0,.1);
    margin: 0 .25em
}

.glide__bullet:focus {
    outline: none
}

.glide__bullet:focus,.glide__bullet:hover {
    border: 2px solid #fff;
    background-color: hsla(0,0%,100%,.5)
}

.glide__bullet--active {
    background-color: #fff
}

.glide--swipeable {
    cursor: grab;
    cursor: -webkit-grab
}

.glide--dragging {
    cursor: grabbing;
    cursor: -webkit-grabbing
}

.turbolinks-progress-bar {
    visibility: hidden
}

/* === END OF EXTERNAL CSS === */
